*{

    padding: 0;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;

}

.wrapper {
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    min-height: 600px;
    padding-top: 200px;
}


